<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  
  <script type="text/html" id="temple">
    <ul>
      <% if (obj.show) { %>
        <% for (var i = 0; i < obj.users.length; i++) { %>
          <li>
            <a href="<%= obj.users[i].url %>">
              <%= obj.users[i].name %>
            </a>
          </li>
        <% } %>
      <% } else { %>
        <p>不展示列表</p>
      <% } %>
    </ul>
  </script>
</body>
</html>